[submodule "3rdParty/udcore"]
	path = 3rdParty/udcore
	url = ../../euclideon/udcore.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = ../../euclideon/imgui.git
[submodule "3rdParty/imgui_markdown"]
	path = 3rdParty/imgui_markdown
	url = ../../euclideon/imgui_markdown.git
[submodule "3rdParty/libtiff"]
	path = 3rdParty/libtiff
	url = https://github.com/Euclideon/libtiff.git
