[submodule "3rdParty/udcore"]
	path = 3rdParty/udcore
	url = ../../euclideon/udcore.git
[submodule "3rdParty/atmosphere"]
	path = 3rdParty/atmosphere
	url = https://github.com/ebruneton/precomputed_atmospheric_scattering.git
