variables:
  linkedVDK: Pipeline_43776
  VAULTSDK_HOME: $(Build.SourcesDirectory)/linkedVDK/$(linkedVDK)

stages:
- stage: build
  displayName: 'Build'
  jobs:
  - template: buildscripts/azure-pipelines-jobs-ubuntu.yml
    parameters:
      name: ubuntu1604
      displayName: 'Ubuntu 16.04'
      container: euclideon/vault:dev-xenial-v1
  - template: buildscripts/azure-pipelines-jobs-ubuntu.yml
    parameters:
      name: ubuntu1804
      displayName: 'Ubuntu 18.04'
      container: euclideon/vault:dev-bionic-v1
  - template: buildscripts/azure-pipelines-jobs-macos.yml
    parameters:
      name: macosOpenGL
      displayName: 'macOS OpenGL'
      gfxapi: 'opengl'
  - template: buildscripts/azure-pipelines-jobs-macos.yml
    parameters:
      name: macosMetal
      displayName: 'macOS Metal'
      gfxapi: 'metal'
  - template: buildscripts/azure-pipelines-jobs-windows.yml
    parameters:
      name: windowsOpenGL
      displayName: 'Windows OpenGL'
      gfxapi: 'opengl'
  - template: buildscripts/azure-pipelines-jobs-windows.yml
    parameters:
      name: windowsDirectX11
      displayName: 'Windows DirectX 11'
      gfxapi: 'd3d11'
