name: $(Date:yyMMdd)$(Rev:rr)

trigger:
  tags:
    include:
    - udStream_*
  branches:
    include:
    - '*'  # must quote since "*" is a YAML reserved character; we want a string

variables:
- group: SignToolKey
- name: linkedVDK
  value: Pipeline_2020071403
- name: VAULTSDK_HOME
  value: $(Build.SourcesDirectory)/linkedVDK/$(linkedVDK)

stages:
- stage: build
  displayName: 'Build'
  jobs:
  - template: buildscripts/azure-pipelines-jobs-ubuntu.yml
    parameters:
      name: ubuntu1604
      displayName: 'Ubuntu 16.04'
      container: euclideon/vault:dev-xenial-v1
  - template: buildscripts/azure-pipelines-jobs-ubuntu.yml
    parameters:
      name: ubuntu1804
      displayName: 'Ubuntu 18.04'
      container: euclideon/vault:dev-bionic-v1
  - template: buildscripts/azure-pipelines-jobs-macos.yml
    parameters:
      name: macosMetal
      displayName: 'macOS Metal'
      gfxapi: 'metal'
  - template: buildscripts/azure-pipelines-jobs-windows.yml
    parameters:
      name: windowsOpenGL
      displayName: 'Windows OpenGL'
      gfxapi: 'opengl'
  - template: buildscripts/azure-pipelines-jobs-windows.yml
    parameters:
      name: windowsDirectX11
      displayName: 'Windows DirectX 11'
      gfxapi: 'd3d11'
  - template: buildscripts/azure-pipelines-jobs-android.yml
    parameters:
      name: androidx64
      displayName: 'Android x64'
      platform: 'x64'
  - template: buildscripts/azure-pipelines-jobs-android.yml
    parameters:
      name: androidarm64
      displayName: 'Android ARM64'
      platform: 'arm64'
