parameters:
  name: ''
  displayName: ''
  gfxapi: ''

jobs:
- job: ${{ parameters.name }}
  displayName: ${{ parameters.displayName }}
  pool:
    vmImage: 'windows-latest'
  variables:
    platform: x64
  strategy:
    matrix:
      Debug:
        configuration: Debug
      Release:
        configuration: Release
  steps:
  - checkout: self
    submodules: recursive
  - template: azure-pipelines-steps-linkedvdk.yml
  - script: 3rdParty\udcore\bin\premake-bin\premake5.exe vs2019 --gfxapi=${{ parameters.gfxapi }}
    displayName: 'Run Premake'
  - task: MSBuild@1
    displayName: 'Build Projects'
    inputs:
      solution: vaultClient.sln
      platform: $(platform)
      configuration: $(configuration)
      maximumCpuCount: true
      msbuildArguments: '/v:m'
  - script: choco install pandoc
    displayName: 'Install Documentation Dependencies'
    condition: and(succeeded(), eq(variables['configuration'], 'Release'))
  - script: |
      mkdir builds\userguide
      pandoc.exe -f gfm --tab-stop 2 docs\UserGuide.md -o __temp.html
      type docs\misc\header.html __temp.html docs\misc\footer.html > builds\userguide\UserGuide.html
      rm __temp.html
    displayName: 'Generate User Guide'
    condition: and(succeeded(), eq(variables['configuration'], 'Release'))
  - script: |
      pandoc.exe -f gfm --tab-stop 2 docs\TranslationGuide.md -o __temp.html
      type docs\misc\header.html __temp.html docs\misc\footer.html > builds\userguide\TranslationGuide.html
      rm __temp.html
    displayName: 'Generate Translation Guide'
    condition: and(succeeded(), eq(variables['configuration'], 'Release'))
  - publish: builds/
    displayName: 'Public Artifacts'
    condition: and(succeeded(), eq(variables['configuration'], 'Release'))
    artifact: ${{ parameters.name }}$(configuration)
